<div class="row">
    <div class="col-sm-12">
      <h1>Add new Servers or blueprints!</h1>
      <label>Server Name</label>
      <input type="text" class="form-control" #serverNameInput>
      <br>
      <label>Server Content</label>
      <input type="text" class="form-control" style="margin-left:10px;" style="margin-top:10px;" #serverContentInput>
      <br>
      <br>
      <button class="btn btn-primary" (click)="onS(serverNameInput)">Add Server</button>
      <button class="btn btn-primary" (click)="onB(serverNameInput)" style="margin-left:10px;">Add Server Blueprint</button>
    </div>
  </div>